<!-- ========================= Breadcrumb Start =============================== -->
<app-breadcrumb title="Becom Seller" subtitle="Becom Seller"></app-breadcrumb>

<!-- ========================= Breadcrumb End =============================== -->

<!-- ============================== Banner Inner Start ================================ -->
<section class="banner-inner bg-overlay z-1 position-relative py-72 bg-img bg-start"
    data-background-image="assets/images/thumbs/banner-inner-bg.png">
    <div
        class="banner-inner__img position-absolute inset-inline-end-0 top-50 translate-middle-y h-100 arrow-left-clip w-30-percent d-xxl-block d-none">
        <img src="assets/images/thumbs/banner-inner-img.png" alt="" class="h-100">
    </div>
    <div class="container">
        <div class="banner-inner__content text-center">
            <h4 class="text-white mb-20 fw-semibold">Become A MarketPro Seller</h4>
            <p class="text-white my-20">More than half the units sold in our stores from independent sellers.</p>
            <a [routerLink]="['account']" class="btn btn-main-two rounded-8">Create An Account</a>
        </div>
    </div>
</section>
<!-- ============================== Banner Inner End ================================ -->

<!-- ========================= Why Become Seller section start =================================== -->
<section class="why-seller py-80">
    <div class="container">
        <div class="section-heading text-center mx-auto">
            <h5 class="">Why become a seller on Marketpro?</h5>
            <span class="text-gray-600">More than half the units sold in our stores from independent sellers.</span>
        </div>
        <div class="row gy-4 justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="why-seller-item text-center">
                    <span class="text-main-two-600 text-72 d-inline-flex">
                        <i class="ph ph-gift"></i>
                    </span>
                    <h6 class="my-28">Free Shipping</h6>
                    <p class="text-gray-600 max-w-392 mx-auto">Explore insightful content that keeps you ahead of the
                        curve and connected to the pulse of what's happening.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="why-seller-item text-center">
                    <span class="text-main-two-600 text-72 d-inline-flex">
                        <i class="ph ph-credit-card"></i>
                    </span>
                    <h6 class="my-28">Flexible Payment</h6>
                    <p class="text-gray-600 max-w-392 mx-auto">Explore insightful content that keeps you ahead of the
                        curve and connected to the pulse of what's happening.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="why-seller-item text-center">
                    <span class="text-main-two-600 text-72 d-inline-flex">
                        <i class="ph ph-chats"></i>
                    </span>
                    <h6 class="my-28">Online Support</h6>
                    <p class="text-gray-600 max-w-392 mx-auto">Explore insightful content that keeps you ahead of the
                        curve and connected to the pulse of what's happening.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Why Become Seller section End =================================== -->

<!-- ========================== Counter Section Start ========================== -->
<section class="counter">
    <div class="container container-lg">
        <div class="row justify-content-center">
            <div class="col-xxl-11">
                <div class="bg-neutral-600 rounded-16 px-xxl-5 px-xl-4">
                    <div class="row gy-lg-0 gy-4 line-wrapper">
                        <div class="col-lg-3 col-sm-6 col-xs-6">
                            <div class="counter-item text-center py-100 px-8">
                                <h3 class="text-main-600 counter mb-8 fw-semibold">185+</h3>
                                <p class="text-white text-xl font-heading-two fw-semibold">Store around the world</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-xs-6">
                            <div class="counter-item text-center py-100 px-8">
                                <h3 class="text-main-600 counter mb-8 fw-semibold">152K</h3>
                                <p class="text-white text-xl font-heading-two fw-semibold">Product Sold</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-xs-6">
                            <div class="counter-item text-center py-100 px-8">
                                <h3 class="text-main-600 counter mb-8 fw-semibold">15K+</h3>
                                <p class="text-white text-xl font-heading-two fw-semibold">Registered Users</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-xs-6">
                            <div class="counter-item text-center py-100 px-8">
                                <h3 class="text-main-600 counter mb-8 fw-semibold">2K+</h3>
                                <p class="text-white text-xl font-heading-two fw-semibold">Top Brands Available in store
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Counter Section End ========================== -->

<!-- ============================= Steps Section start ================================= -->
<section class="step py-80">
    <div class="position-relative z-1">
        <img src="assets/images/shape/curve-line-shape.png" alt=""
            class="position-absolute top-0 inset-inline-end-0 z-n1 me-60 d-lg-block d-none">

        <div class="container container-lg">
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="step-content">
                        <div class="section-heading ms-auto text-end">
                            <h5 class="">Over $200k in potential benefits</h5>
                            <span class="text-gray-600">Ready to sell? Launch your brand today with a powerful for new
                                sellers and over $200k in potential benefits</span>
                        </div>
                        <div class="d-flex flex-column align-items-end gap-56">
                            <div class="d-flex align-items-center gap-32">
                                <div class="text-end">
                                    <h5 class="mb-8">Step 01</h5>
                                    <p class="text-gray-600">Create an account on our website. It is fast and free.</p>
                                </div>
                                <div class="w-90 h-90 flex-center bg-main-two-100 rounded-circle">
                                    <h6
                                        class="mb-0 w-60 h-60 bg-main-two-600 text-white d-flex align-items-center justify-content-center rounded-circle border border-5 border-white fw-medium">
                                        01</h6>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-32">
                                <div class="text-end">
                                    <h5 class="mb-8">Step 02</h5>
                                    <p class="text-gray-600"> Upload your products and the display in your shop.</p>
                                </div>
                                <div class="w-90 h-90 flex-center bg-main-two-100 rounded-circle">
                                    <h6
                                        class="mb-0 w-60 h-60 bg-main-two-600 text-white d-flex align-items-center justify-content-center rounded-circle border border-5 border-white fw-medium">
                                        02</h6>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-32">
                                <div class="text-end">
                                    <h5 class="mb-8">Step 03</h5>
                                    <p class="text-gray-600">We'll verify your account and then you can start selling!
                                    </p>
                                </div>
                                <div class="w-90 h-90 flex-center bg-main-two-100 rounded-circle">
                                    <h6
                                        class="mb-0 w-60 h-60 bg-main-two-600 text-white d-flex align-items-center justify-content-center rounded-circle border border-5 border-white fw-medium">
                                        03</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-center">
                        <img src="assets/images/thumbs/steps.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= Steps Section End ================================= -->
<!-- ================================ Instagram section start ===================================== -->
<section class="instagram py-120 overflow-hidden">
    <div class="container container-lg">
        <div class="section-heading">
            <div class="flex-between flex-wrap gap-8">
                <div class="">
                    <h5 class="mb-0 text-uppercase">Instagram</h5>
                    <p class="text-gray-500">Get inspired by Carina fans from all around the world</p>
                </div>
                <div class="flex-align gap-16">
                    <a [routerLink]="['shop']"
                        class="text-sm fw-semibold text-gray-700 hover-text-main-600 hover-text-decoration-underline">View
                        All</a>
                    <div class="flex-align gap-8">
                        <button type="button" id="instagram-prev"
                            class="slick-prev slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 hover-text-white transition-1">
                            <i class="ph ph-caret-left"></i>
                        </button>
                        <button type="button" id="instagram-next"
                            class="slick-next slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 hover-text-white transition-1">
                            <i class="ph ph-caret-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <ngx-slick-carousel #slickModal="slick-carousel" class="instagram-slider" [config]="instagramSlider">
            <div *ngFor="let item of instagramImages" ngxSlickItem [attr.data-aos]="'fade-up'"
                [attr.data-aos-duration]="item.delay">
                <div class="instagram-item rounded-24 overflow-hidden position-relative">
                    <img [src]="item.src" alt="Instagram Image" />
                    <a href="https://www.instagram.com" target="_blank"
                        class="w-72 h-72 bg-black bg-opacity-50 text-white text-32 position-absolute top-50 start-50 translate-middle flex-center rounded-circle hover-bg-main-two-600 hover-text-white">
                        <i class="ph ph-instagram-logo"></i>
                    </a>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</section>
<!-- ================================ Instagram section end ===================================== -->

<!-- ========================== Shipping Section Start ============================ -->
<app-shipping></app-shipping>

<!-- ========================== Shipping Section End ============================ -->