<div class="blog-sidebar border border-gray-100 rounded-8 p-32 mb-40">
    <h6 class="text-xl mb-32 pb-32 border-bottom border-gray-100">Categories</h6>
    <ul>
        <li *ngFor="let category of categories; let last = last" [ngClass]="{'mb-0': last, 'mb-16': !last}">
            <a [routerLink]="['/blog-details']"
                class="flex-between gap-8 text-gray-700 border border-gray-100 rounded-4 p-4 ps-16 hover-border-main-600 hover-text-main-600">
                <span>{{ category.name }} ({{ category.count < 10 ? '0' + category.count : category.count }})</span>
                        <span class="w-40 h-40 flex-center rounded-4 bg-main-50 text-main-600">
                            <i class="ph ph-arrow-right"></i>
                        </span>
            </a>
        </li>
    </ul>
</div>