<!-- src\app\component\breadcrumb\breadcrumb.component.html -->
<div class="breadcrumb mb-0 py-26 bg-main-two-50">
    <div class="container container-lg">
        <div class="breadcrumb-wrapper flex-between flex-wrap gap-16">
            <h6 class="mb-0">{{ title }}</h6>
            <ul class="flex-align gap-8 flex-wrap">
                <li class="text-sm">
                    <a [routerLink]="['/']" class="text-gray-900 flex-align gap-8 hover-text-main-600">
                        <i class="ph ph-house"></i>
                        Hogar
                    </a>
                </li>
                <li class="flex-align" *ngIf="subtitle">
                    <i class="ph ph-caret-right"></i>
                </li>
                <li class="text-sm text-main-600" *ngIf="subtitle">{{ subtitle }}</li>
            </ul>
        </div>
    </div>
</div>